<div th:replace="fragments/header"></div>
<main class="container">
    <form action="/car" method="post" name="car">
        <fieldset>
            <legend></legend>
            <label>
            <input type="radio" name="person" th:value="${person}" th:text="${person}" checked aria-checked="true"/>
            </label>
            <legend>Auto selecteren:</legend>
            <label>
                <input type="radio" name="carType" value="VW" checked aria-checked="true"/>
                VW
                <input type="radio" name="carType" value="Toyota"/>
                Toyota
            </label>
        </fieldset>
        <fieldset>
            <input
                    name="driveDate"
                    type="date"
                    placeholder="datum"
                    required
                    aria-label="Date"
                    aria-required="true"
                    id="datum"
            />
            <input
                    name="kmTotal"
                    type="number"
                    placeholder="eind totaal"
                    required
                    pattern="[09]*"
                    aria-label="eind totaal"
                    aria-required="true"
            />
            <input
                    name="km"
                    type="number"
                    placeholder="km gereden"
                    required
                    pattern="[09]*"
                    aria-label="km gereden"
                    aria-required="true"
            />
        </fieldset>

        <input
                type="submit"
                value="Opslaan"
        />
    </form>
</main>
<div th:replace="fragments/footer"></div>
<script>
    // Insert date and time into HTML
    document.getElementById("datum").valueAsNumber = Date.now() - (new Date()).getTimezoneOffset() * 60000;
</script>