<div th:replace="fragments/header"></div>
<main class="container">
    <form action="/car" method="post" name="car">
        <fieldset>
            <legend></legend>
            <label>
            <input type="radio" name="person" th:value="${person}" th:text="${person}" checked aria-checked="true"/>
            </label>
            <legend>Select a car:</legend>
            <label>
                <span th:each="car: ${carsPreviousTotal}">
                  <input type="radio" name="carType" th:value="${car.key}" th:text="${car.key}" checked aria-checked="true" ></input>
                    (<span id="previous" th:text="${car.value}"></span>)
                    &nbsp;&nbsp;
                </span>
            </label>
        </fieldset>
        <fieldset>
            <input
                    name="driveDate"
                    type="date"
                    placeholder="datum"
                    required
                    aria-label="Date"
                    aria-required="true"
                    id="datum"
            />
            <input
                    name="kmTotal"
                    type="number"
                    placeholder="eind totaal"
                    required
                    pattern="[09]*"
                    aria-label="eind totaal"
                    aria-required="true"
                    min="0"
            />
            <input
                    name="km"
                    type="number"
                    placeholder="km gereden"
                    required
                    pattern="[09]*"
                    aria-label="km gereden"
                    aria-required="true"
                    min="0"
            />
        </fieldset>
        <fieldset>
            <label>
                <input name="petrol" type="checkbox" role="switch"/>
                filled her up?
            </label>
            <input
                    name="litersStr"
                    type="number"
                    placeholder="liters"
                    pattern="[09]*"
                    aria-label="liters"
                    min="0"
            />
        </fieldset>
        <input
                type="submit"
                value="Opslaan"
        />
    </form>
</main>
<div th:replace="fragments/footer"></div>
<script>
    // Insert date and time into HTML
    document.getElementById("datum").valueAsNumber = Date.now() - (new Date()).getTimezoneOffset() * 60000;

    // Define the API URL
    const apiUrl = '/car/total/';

    function getPreviousValue(carType) {
        // Make a GET request
        fetch(apiUrl + carType)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>