<div th:replace="fragments/header"></div>
<main class="container">
    <form action="/car" method="post" name="car">
        <fieldset>
            <legend></legend>
            <label>
            <input type="radio" name="person" th:value="${person}" th:text="${person}" checked aria-checked="true"/>
            </label>
            <legend>Welke auto:</legend>
            <label>
                <span th:each="car: ${carsPreviousTotal}">
                  <input type="radio" name="carType" th:value="${car.key}" th:text="${car.key}" checked aria-checked="true" ></input>
                    (<span id="previous" th:text="${car.value}"></span>)
                    &nbsp;&nbsp;
                </span>
            </label>
        </fieldset>
        <fieldset>
            <input
                    name="driveDate"
                    type="date"
                    placeholder="Datum"
                    required
                    aria-label="Datum"
                    aria-required="true"
                    id="datum"
            />
            <input
                    name="kmTotal"
                    type="number"
                    placeholder="Eind Totaal km"
                    required
                    pattern="[09]*"
                    aria-label="eind totaal"
                    aria-required="true"
                    min="0"
            />
            <input
                    name="km"
                    type="number"
                    placeholder="Gereden km"
                    required
                    pattern="[09]*"
                    aria-label="Gereden km"
                    aria-required="true"
                    min="0"
            />
        </fieldset>
        <fieldset>
            <label>
                <input name="petrol" type="checkbox" role="switch"/>
                getankt?
            </label>
            <input
                    name="litersStr"
                    type="number"
                    placeholder="Liters"
                    pattern="[09]*"
                    aria-label="liters"
                    min="0"
            />
        </fieldset>
        <input
                type="submit"
                value="Opslaan"
        />
    </form>
</main>
<div th:replace="fragments/footer"></div>
<script>
    // Insert date and time into HTML
    document.getElementById("datum").valueAsNumber = Date.now() - (new Date()).getTimezoneOffset() * 60000;
</script>