<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="pico/pico.min.css">
    <title>Hello world!</title>
    <style>
        :root {
            --pico-border-radius: 2rem;
            --pico-typography-spacing-vertical: 1.5rem;
            --pico-form-element-spacing-vertical: 1rem;
            --pico-form-element-spacing-horizontal: 1.25rem;
        }
        h1 {

            --pico-font-weight: 400;
            --pico-typography-spacing-vertical: 0.5rem;
        }
        button {
            --pico-font-weight: 700;
        }
    </style>
</head>
<body>
<main class="container">
    <h1>Hello world!</h1>
</main>
</body>
</html>