<div th:replace="fragments/header"></div>
<main class="container">
    <table>
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th th:if="${role == '[ROLE_ADMIN]'}" scope="col">Persoon</th>
            <th scope="col">Auto</th>
            <th scope="col">km</th>
            <th scope="col">km totaal</th>
            <th scope="col">Liters</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="trip: ${trips}">
            <td scope="col" th:text="${trip.driveDate}" />
            <td th:if="${role == '[ROLE_ADMIN]'}"  scope="col" th:text="${trip.person}" />
            <td scope="col" th:text="${trip.carType}" />
            <td scope="col" th:text="${trip.km}" />
            <td scope="col" th:text="${trip.kmTotal}" />
            <td scope="col" th:text="${trip.liters}" />
        </tr>
        <tfoot>
        <tr>
            <td scope="col"></td>
            <td th:if="${role == '[ROLE_ADMIN]'}"  scope="col" />
            <td scope="col">Total:</td>
            <td  scope="col" th:text="${kmTotal}" />
            <td scope="col"></td>
            <td  scope="col" th:text="${litersTotal}" />
        </tr>
        </tfoot>
    </table>
</main>
<div th:replace="fragments/footer"></div>