<div th:replace="fragments/header"></div>
<main class="container">
    <table>
        <thead>
        <tr>
            <th scope="col">date</th>
            <th scope="col">Person</th>
            <th scope="col">Car</th>
            <th scope="col">km</th>
            <th scope="col">km total</th>
            <th scope="col">gasoline?</th>
            <th scope="col">liters</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="car: ${cars}">
            <td scope="col" th:text="${car.driveDate}" />
            <td scope="col" th:text="${car.person}" />
            <td scope="col" th:text="${car.carType}" />
            <td scope="col" th:text="${car.km}" />
            <td scope="col" th:text="${car.kmTotal}" />
            <td scope="col" th:text="${car.petrol}" />
            <td scope="col" th:text="${car.liters}" />
        </tr>
        <tfoot>
        <tr>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col">Total:</td>
            <td  scope="col" th:text="${kmTotal}" />
            <td scope="col"></td>
            <td scope="col"></td>
            <td  scope="col" th:text="${litersTotal}" />
        </tr>
        </tfoot>
    </table>
</main>
<div th:replace="fragments/footer"></div>