<div th:replace="fragments/header"></div>
<main class="container">
    <form>

    <fieldset class="grid">
        <input
                name="login"
                placeholder="Login"
                aria-label="Login"
                autocomplete="username"
        />
        <input
                type="password"
                name="password"
                placeholder="Password"
                aria-label="Password"
                autocomplete="current-password"
        />
        <input
                type="submit"
                value="Log in"
        />
    </fieldset>
</form>
<div th:replace="fragments/footer"></div>