<th:block th:insert="~{fragments/header}"></th:block>
<style>
    #table tbody:nth-child(even) tr td
    {
        background-color: lightsalmon;
    }

    #table tbody:nth-child(odd) tr td
    {
        background-color: lightyellow;
    }

    .table-tight {
        width: 100%;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .table-tight td,
    .table-tight th {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid lightgrey;
        line-height: 1.2;
    }

    .table-tight td {
        margin: 0;
        padding-right: 2px;
        padding-bottom: 2px;
    }

    .table-tight tr {
        margin: 0;
        padding: 0;
    }

    .table-tight .right {
        text-align: right;
    }

    .table-tight .left {
        text-align: left;
    }
</style>
<fieldset>
    [(${fueloverview})]
</fieldset>

<th:block th:insert="~{fragments/footer}"></th:block>