<div th:replace="fragments/header"></div>

<main class="container">
    <article>
        <header><h1 style="text-align: center">Done it!</h1></header>
        <h5  style="text-align: center"  th:text="${successAction}" ></h5>
        <center>
        <img align="middle" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExczF4d2NnbGRodGNyeGNjdXR4NHg4cGtkMGJzYXZwbjBsam9kYzM1NiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Q81NcsY6YxK7jxnr4v/giphy.gif" alt="happy"/>
        </center>
        <footer>
            <form action="/car" method="GET">
                <input type="submit" value="Another one?" >
            </form>
        </footer>
    </article>
</main>
<div th:replace="fragments/footer"></div>