<th:block th:insert="~{fragments/header}"></th:block>

<main class="container">
    <article>
        <header><h1 style="text-align: center">Done it!</h1></header>
        <h5  style="text-align: center"  data-th-utext="${successAction}"></h5>
        <center>
        <img align="middle" th:src="@{${imagesrc}}" alt="happy"/>
        </center>
        <footer>
            <form action="/trip" method="GET">
                <input type="submit" value="Another one?" >
            </form>
        </footer>
    </article>
</main>
<th:block th:insert="~{fragments/footer}"></th:block>